//footer
.footer {
  background-color: #353535;
  color: white;
  padding: $main_margin;
  &_h5 {
    font-family: shrikhand, cursive;
    font-size: larger;
    margin-top: 0px;
  }
  & a {
    color: white;
    text-decoration: none;
    &:visited {
      color: white;
    }
  }
}
