// coeur (far est vide, fas est plein)
.fa-stack {
  font-size: xx-large;
  position: relative;
  bottom: 10px;
  & :nth-child(2) {
    color: transparent;
    transition: all 850ms;
    padding: 0px;
    &:hover {
      background: linear-gradient(to bottom left, $primary, $secondary);
      font-size: small;
      transform: scale(3);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
