header,
main,
footer {
  animation-name: opacity;
  // animation-direction: normal;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#loader__animation {
  width: 100px;
  height: 100px;
  border: 10px solid #cccccc;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top: 20px solid $primary;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    border-top: 20px solid $secondary;
    opacity: 0.9;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg);
    border-top: 20px solid $primary;
    opacity: 0;
  }
}
