body {
  background-color: #f6f6f6;
}

// top of the page under header
.restaurant {
  &__name {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    position: relative;
    bottom: 80px;
    padding: 5px 15px;
    background-color: $bg;
    font-family: shrikhand, cursive;
    font-size: large;
    display: flex;
    flex-direction: row;
  }
  & img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}
.fa-heart {
  font-size: xx-large;
  position: relative;
  top: 20px;
  left: 50px;
}

//menu section
.menu {
  & h3 {
    padding-bottom: 6px;
    border-bottom: thick solid $tertiary;
  }
}

.card {
  @include cardppty;
  margin: 1rem;
}
