body {
  background-color: $bg;
}
// arrow header
.fa-arrow-left {
  position: relative;
  top: 20px;
  right: 45px;
  font-size: x-large;
}

// top of the page under header
.restaurant {
  &__name {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    position: relative;
    bottom: 80px;
    padding: 5px 15px;
    background-color: $bg;
    font-family: shrikhand, cursive;
    font-size: large;
    display: flex;
    flex-direction: row;
  }
  & img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}
.fa-heart {
  font-size: xx-large;
  position: relative;
  top: 20px;
  left: 50px;
}

//menu section
.menu {
  & h3 {
    padding-bottom: 0px;
    margin: 0 0 0.25em 0.5em;
  }
}
.underline-h3 {
  width: 40px;
  height: 0.25em;
  background-color: $tertiary;
  margin: 0;
  padding: 0;

  margin-left: 0.5em;
}
.card {
  @include cardppty;
  margin: 1rem;
}
