@mixin cardppty {
  background-color: $card_bg;
  box-shadow: 2px 2px 2px $shadow;
  border-radius: 20px 20px;
  height: fit-content;
}

// mixin pour faire apparaitre les menus
@mixin card_appear {
  & .card {
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
  }
  @keyframes appear {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
