@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap');

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

* {
  box-sizing: border-box ;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px grey;
  margin: 0px;
  & img{
    padding-bottom: 0px;
    margin-bottom: -15px;
  }
  & h1{
    margin-top: 5px;
  }
}
.section_location {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}

.section_reserve {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  background: linear-gradient(white, #eaeaea);
}
.btn {
  background: linear-gradient(170deg, $secondary, $primary);
  color: white;
  padding: 0.8rem;
  border-radius: 50px;
  border: none;
}
.section_operation {
  &__steps {
    background-color: #f6f6f6;
    margin: 1rem;
  }
}

.section_restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  // &__title {
  //   text-align: start;
  // }
  &__card {
    height: 150px;
    flex: 100%;
    margin: 5vw;
    background-color: white;
    border-radius: 20px 20px;
    & img {
      object-fit: cover;
      height: 150px;
      width: 100%;
      border-top-left-radius: 20px 20px;
      border-top-right-radius: 20px 20px;
    }
    &__caption {
      border-bottom-left-radius: 20px 20px;
      border-bottom-right-radius: 20px 20px;
    }
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 5vw;
  &_h4 {
    font-family: shrikhand, curisve;
    font-size: larger;
    margin-top: 0px;
  }
}