// font import
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");

// color variables and main margin variable
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$shadow: lightgrey;
$main_margin: 5vw;

// border box and font designation
* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0px;
}
// header
.header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px $shadow;
  margin-bottom: 5px;
  & img {
    padding-bottom: 0px;
    margin-bottom: -15px;
  }
  & h1 {
    margin-top: 5px;
  }
}
// first section under header : location Paris
.section_location {
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}
// 2nd section ohmyfood presentation with big button
.section_presentation {
  padding: 0 $main_margin;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  background: linear-gradient(white, #eaeaea);
  & h2 {
    align-self: center;
  }
  &__h3 {
    font-weight: lighter;
  }
}
.btn {
  background: linear-gradient(170deg, $secondary, $primary);
  color: white;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  margin-bottom: 7vw;
  box-shadow: 4px 4px 2px $shadow;
}

// 3rd section, steps with 3 btns
.section_steps {
  padding: 0 $main_margin 5vw $main_margin;
  &__btn {
    background-color: #f6f6f6;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 2px $shadow;
    border-radius: 20px 20px;
  }
}
// biggest section : restaurants
.section_restaurants {
  padding: 0 $main_margin;
  background-color: #f6f6f6;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  //align title because of the justify content
  &__title {
    align-self: start;
  }
  // card and img cover
  &__card {
    height: 150px;
    flex: 100%;
    margin: 3vw 0px;
    background-color: white;
    border-radius: 20px 20px;
    box-shadow: 2px 2px 2px $shadow;
    & img {
      object-fit: cover;
      height: 150px;
      width: 100%;
      border-top-left-radius: 20px 20px;
      border-top-right-radius: 20px 20px;
    }
    // description of restaurants
    &__caption {
      padding: 0 1rem;
      border-bottom-left-radius: 20px 20px;
      border-bottom-right-radius: 20px 20px;
      & p {
        font-weight: lighter;
        margin-top: 0.2rem;
        margin-bottom: 0.6rem;
      }
      & h3 {
        margin-top: 0.6rem;
        margin-bottom: 0.2rem;
      }
    }
  }
}
//footer
.footer {
  background-color: #353535;
  color: white;
  padding: $main_margin;
  &_h4 {
    font-family: shrikhand, curisve;
    font-size: larger;
    margin-top: 0px;
  }
}
