// font import
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
@import "variables.scss";
@import "loader.scss";
@import "mixins.scss";
@import "header.scss";
@import "footer.scss";
@import "btn.scss";
@import "heart.scss";

// border box and font designation
* {
  box-sizing: border-box;
}
// opacity animation for loader
body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  &:visited {
    color: black;
  }
}

// first section under header : location Paris
.section_location {
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}
// 2nd section ohmyfood presentation with big button
.section_presentation {
  padding: 0 $main_margin;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  text-align: center;
  background: linear-gradient(white, #eaeaea);
  & h2 {
    align-self: center;
  }
  &__h3 {
    font-weight: lighter;
  }
}

// 3rd section, steps with 3 btns
.section_steps {
  padding: 0 $main_margin 5vw $main_margin;
  &__btn {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 2px $shadow;
    border-radius: 20px 20px;
    text-align: center;
    // centrer verticalement sur une ligne:
    height: 4rem; /* hauteur du parent */
    line-height: 2rem; /* hauteur de ligne (identique) */
    white-space: nowrap; /* interdiction de passer à la ligne */

    &__ordered {
      border-radius: 50%;
      background-color: $primary;
      color: white;
      position: relative;
      right: 28px;
      padding: 2px 10px;
      & p {
        position: relative;
        bottom: 17px;
      }
    }
  }
}
.primary_bg {
  background-color: lighten($primary, 35%);
}
.fa-store {
  color: $primary;
}
// biggest section : restaurants
.section_restaurants {
  padding: 0 $main_margin;
  background-color: $bg;
  align-items: center;
  //align title because of the justify content
  &__title {
    align-self: start;
  }
}
.card {
  height: fit-content;
  flex: 100%;
  margin: 3vw 0px;
  background-color: $card_bg;
  display: flex;
  @include cardppty;
  overflow: hidden;

  & img {
    // card  img cover
    object-fit: cover;
    height: 150px;
    width: 90vw;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
  &__img {
    position: relative;
    // width: 90%;
    &__new {
      font-weight: bold;
      z-index: 1;
      background-color: $tertiary;
      color: #1a8a68;
      width: 80px;
      display: block;
      text-align: center;
      right: 1em;
      top: 1em;
      position: absolute;
      height: 2.5em; /* hauteur du parent */
      line-height: 0.7em; /* hauteur de ligne (identique) */
      white-space: nowrap; /* interdiction de passer à la ligne */
      // transform: translate(-100px, 20px);
    }
  }
  &__caption {
    // description of restaurants
    display: flex;
    justify-content: space-between;
    height: 65px;
    &__text {
      padding: 0 1rem;
      border-bottom-left-radius: 20px 20px;
      border-bottom-right-radius: 20px 20px;
      & p {
        font-weight: lighter;
        margin-top: 0.2rem;
        margin-bottom: 0.6rem;
      }
      & h4 {
        margin-top: 0.6rem;
        margin-bottom: 0.2rem;
      }
    }
    &__hrt {
      padding: 0px;
      position: relative;
      bottom: 10px;
    }
  }
}
