// color variables
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$shadow: lightgrey;
$darkshadow: rgb(172, 171, 171);
$bg: #f6f6f6;
$hardbg: #555;
$card_bg: white;
// autres variables
$main_margin: 5vw; // sur toutes les pages
$transitiontime: 700ms;
$breakp1: 1280px;
